<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STATIC IMAGES DISPLAY</title>
    
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  </head>
  <body>
    <h1>wanna see my first static images</h1>

    <img src="{% static "images/bubbles.jpg" %}" alt="sorry !! no image to display">
    <img src="{% static "images/pathway.jpg" %}" alt="sorry !! no image to display">
    <img src="{% static "images/peacock.jpg" %}" alt="sorry !! no image to display">


  </body>
</html>
