<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to the home page f django first_project Home</h1>
      
        <h2>go to admin/ to see the DB by logging in to it</h2>
        <h2>go to first_app/ to access first app </h2>

      </div>

    </div>

    <!--{{insert_me}}-->
    <!-- template variable -->
  </body>
</html>
